body {
  background-color: #F7F7F7;
  margin: 0;
}

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0; 
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 10px 15px 0 15px;
}

.form-users-search {
  margin: 0 auto;
}

.searc-bar {
  padding: 25px 15px;
  border-radius: 7px;
  background-color: #fff;
  margin-bottom: 70px;
  box-shadow: 0px 30px 15px -15px #E5E5E5;
}

.search {
  width: 95%;
}

.clear {
  margin-top: 20px;
  margin-left: 10px;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: inherit;
  cursor: pointer;
}

.check-mark {
  margin-left: 10px;
  cursor: pointer;
}

.search input {
  width: 100%;
  height: 40px;
  padding: 5px 5px 5px 40px;
  outline: none;
  border: none;
  border-radius: 7px;
  background: rgb(236,239,240) url("./img/icons8-search.svg") no-repeat 10px center;
  background-size: 20px 20px;
}

.sort-bar {
  margin-bottom: 30px;
  color:  #BCC4CA;
}

.sort-title {
  margin-right: 15px;
}

.sort-type {
  display: inline-block;
  margin-right: 10px;
  border-bottom: 1px dashed #BCC4CA;
}

.check__input--label {
  cursor: pointer;
}

.check__input:checked + .check__input--label {
  color: black;
  font-weight: bold;
}

.table-users {
  width: 100%;
  background-color: #fff;
  border-radius: 7px;
  padding-bottom: 50px;
  border-collapse: collapse;
}

.table-users th {
  text-align: left;
  color:  #BCC4CA;
}

.table-users tbody tr:nth-child(even) {
  background-color: #F8F8F8;
}

.table-users td,
.table-users th {
  padding: 20px;
  border-bottom: 1px solid rgb(236,239,240);
  font-size: 16px;
}

.table-users td:first-child {
  color: #00B0F0;
  font-weight: bold;
  font-size: 20px;
}

.table-users td:last-child {
  text-align: center;
  font-weight: bold;
}

.delete-user {
  cursor: pointer;
  font-size: 18px;
}

.popup-container {
  display: flex;
  justify-content: center;
  align-items: center;

  position:fixed;
  left: 0;
  top: 0;
  
  width: 100%;
  min-height:100%;
  background-color: rgba(0,0,0,0.5);
}

.popup-delete {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  font-size: 26px;

  width: 600px; 
  padding: 50px 70px;
  background-color: #fff;
  border-radius: 10px;
}

.popup-delete  h3 {
  text-align: center;
  margin-bottom: 40px;
}


.btn-delete {
  width: 200px;
  padding: 15px 40px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 22px;
}

.btn-delete--yes {
  background-color: lightgreen;
}

.btn-delete--no {
  background-color: lightcoral;
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin: 35px 0;
}

.pagination-item {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #BCC4CA;
  margin-right: 10px;
  text-align: center;
  line-height: 50px;
  color: #FFF;
  font-size: 18px;
  cursor: pointer;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination--active {
  background-color: #00B0F0;
}

.no-users {
  text-align: center;
  padding: 50px;
}